*.o
*.a
*.so
*.so.*
*~
/bin/
/lib/
/plugins/
*.out
*.diff
*.expect
*.init
*.run
*.teardown
*.name
*.stderr
*.log
*.gcda
*.gcno
coverage/
/swBroker
test/funcTests/ftClient/ftClient

# Editor lock / autosave files
\#*\#
.\#*

# Coredumps
core
core.[0-9]*

# Misc local-only files
Francisco
tee
